@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0px;
	font-family: 'Roboto Condensed', serif;
}

hr {
	height: 5px;
	background-color: #9e0130;
	border-radius: 20px;
}

h1{
    color: #5e001c;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

i{
    color: rgb(158, 0, 61);
    font-size: 40px;
    
}

i:hover{
    color: rgb(204, 0, 78);
}

#separacao {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 5px solid black;
}

.divider {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #9e0130; /* Cor do texto */
	font-family: 'Roboto Condensed', serif;
	font-size: 16px;
}

.divider::before,
.divider::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #9e0130; /* Cor das linhas */
	margin: 0 10px; /* Espaçamento entre texto e linhas */
}

#cadastroPage {
	background: linear-gradient(to bottom right,#000000, #9e0130);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cadastroForm {
	background-color: white;
	height: 90%;
	width: 25%;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	display: flex;
}

#form {
	height: 80%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.campo{
	border: none;
	background-color: rgb(207, 207, 207);
	border-radius: 5px;
	height: 30px;
	width: 100%;
}

.button {
	background-color: #9e0130;
	border: none;
	border-radius: 5px;
	height: 50px;
    width: 100%;
	color: white;
	text-decoration: none;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
